NODE_ENV=development
PORT=3000

FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_PRIVATE_KEY=your-firebase-private-key
SWAGGER_SERVER_URL=http://localhost:3000/api/v1
ALLOWED_ORIGINS=https://rrc-w2025-cfeasby.github.io,https://rrc-w2025-cfeasby.github.io/Back-End-Assignment-5